#lf_yellow{
    width: 400px;
    height: 80px;
    background-color: yellow;
}

#lf_green{
    width: 400px;
    height: 80px;
    background-color: green;
}

#lf_red{
    width: 400px;
    height: 80px;
    background-color: red;
}



#rf_colors{
    height: 240px;
    width: 133px;
    background: yellow;

    margin-top: 100px;
    margin-left: 50px;
    border-left: 133px solid blue;
    border-right: 133px solid red;
}

#hab{
    width: 300px;
    height: 375px;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px dashed red;
    padding: 10px 5px;
}